*~
*.DS_Store
.rvmrc
.bundle/
log/*.log
pkg/
spec/dummy/.bundle
spec/dummy/.gitignore
spec/dummy/.git/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache/
spec/dummy/.bundle
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/log
spec/dummy/tmp/
spec/dummy/config/*.yml
spec/dummy/*.swp
spec/dummy/*.swo
spec/dummy/*.swm
spec/dummy/*.swn
spec/dummy/*.swl
spec/dummy/*.swj
spec/dummy/*.swh
spec/dummy/*.swa
spec/dummy/.rvmrc
